<div class="container">
  <div class="row mt-5">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title"><strong>Title: </strong>{{project.title}}</h3>
          <p class="card-text"><strong>Description: </strong>{{project.description}}</p>
          <p class="card-text"><strong>Author: </strong><a
              [routerLink]="['/members/', project.user.id]">{{project.user.username}}</a></p>
          <p class="card-text"><strong>Created: </strong>{{project.dateCreated | date: 'd MMMM yyyy HH:mm'}}</p>
          <p *ngIf="isAuthor()" class="card-text">
            <button class="btn btn-success mr-1" (click)="openModalEditProject()">Edit</button>
            <button class="btn btn-danger" (click)="openModalDeleteProject()">Remove</button></p>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <div class="row text-center">
            <div class="col-sm-8">
              <h4 class="card-title">Tickets for project</h4>
            </div>
            <div class="col-sm-4"><button class="btn btn-success" (click)="openModalAddTicket()">Add ticket</button>
            </div>
          </div>

        </div>
      </div>
      <table class="table table-sm table-hover table-bordered">
        <thead class="text-center">
          <tr>
            <th scope="col" style="width: 10%;">Type</th>
            <th scope="col" style="width: 60%;">Name</th>
            <th scope="col" style="width: 10%;">Status</th>
            <th scope="col" style="width: 10%;">Priority</th>
          </tr>
        </thead>
        <tbody class="text-center">
          <tr class="table" *ngFor="let ticket of project.tickets" [routerLink]="['/tickets/', ticket.id]">
            <td [ngSwitch]="ticket.typeOfTicket">
              <img src="/assets/Task.png" alt="task" height="24" *ngSwitchCase="0">
              <img src="/assets/Feature.png" alt="feature" height="24" *ngSwitchCase="1">
              <img src="/assets/Bug.png" alt="bug" height="24" *ngSwitchCase="2">
              <img src="/assets/Support.png" alt="support" height="24" *ngSwitchCase="3">
            </td>
            <td>{{ticket.title}}</td>
            <td [ngSwitch]="ticket.status">
              <img src="/assets/New.png" alt="immediate" height="24" *ngSwitchCase="0">
              <img src="/assets/Assigned.png" alt="immediate" height="24" *ngSwitchCase="1">
              <img src="/assets/InProgress.png" alt="immediate" height="24" *ngSwitchCase="2">
              <img src="/assets/Resolved.png" alt="immediate" height="24" *ngSwitchCase="3">
              <img src="/assets/Closed.png" alt="immediate" height="24" *ngSwitchCase="4">
            </td>
            <td [ngSwitch]="ticket.priority">
              <img src="/assets/Low.png" alt="low" height="24" *ngSwitchCase="0">
              <img src="/assets/Normal.png" alt="normal" height="24" *ngSwitchCase="1">
              <img src="/assets/High.png" alt="urgent" height="24" *ngSwitchCase="2">
              <img src="/assets/Urgent.png" alt="urgent" height="24" *ngSwitchCase="3">
              <img src="/assets/Immediate.png" alt="immediate" height="24" *ngSwitchCase="4">
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>