<div class="container">
  <div class="row mt-5">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title"><strong>Title: </strong>{{ticket.title}}</h3>
          <p class="card-text"><strong>Description: </strong>{{ticket.description}}</p>
          <p class="card-text"><strong>Type: </strong>{{ticket.typeOfTicket}}</p>
          <p class="card-text"><strong>Priority: </strong>{{ticket.priority}}</p>
          <p class="card-text"><strong>Added: </strong> <a [routerLink]="['/members/', ticket?.userFrom?.id]">{{ticket?.userFrom?.username}}</a></p>
          <p *ngIf="ticket?.userTo" class="card-text"><strong>Assigned to: </strong> <a [routerLink]="['/members/', ticket?.userTo?.id]">{{ticket?.userTo?.username}}</a></p>
          <p *ngIf="!ticket?.userTo" class="card-text">Assign to</p>
          <p class="card-text"><strong>Created: </strong>{{ticket.dateCreated}}</p>
          <p class="card-text"><strong>Updated: </strong>{{ticket.dateUpdated}}</p>
          <p class="card-text"><strong>Status: </strong>{{ticket.status}}</p>

          <a [routerLink]="['/projects/', ticket?.project?.id]" class="btn btn-success">Return to project {{ticket?.project?.title}}</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Comments</h4>
          <hr>
          <div>Here will be some comments</div>
        </div>
      </div>
    </div>
  </div>
</div>