<div class="container mt-4">
  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <img class="card-image-top img-thumbnail" src="{{user.avatar}}" alt="">
        <div class="card-body">
          <div>
            <strong>Email:</strong>
            <p>{{user.email}}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-8">
      <div class="tab-panel">
        <tabset>
          <tab heading="{{user.username | titlecase}}'s projects">
            <p class="mt-2" *ngIf="!user.projects.length">Don't have any projects</p>
            <p class="mt-2" *ngFor="let project of user.projects">{{project.id}} - {{project.title}}</p>
          </tab>
          <tab heading="Tickets for {{user.username | titlecase}}">
            <p class="mt-2" *ngIf="!user.ticketsToMe.length">Don't have any tickets</p>
            <p class="mt-2" *ngFor="let ticket of user.ticketsToMe">{{ticket.id}} - {{ticket.title}}</p>
          </tab>
          <tab heading="Tickets from {{user.username | titlecase}}">
            <p class="mt-2" *ngIf="!user.ticketsFromMe.length">Don't have any tickets</p>
            <p class="mt-2" *ngFor="let ticket of user.ticketsFromMe">{{ticket.id}} - {{ticket.title}}</p>
          </tab>
        </tabset>
      </div>
    </div>
  </div>
</div>