<div class="container">
    <div class="row mt-2"><button class="btn btn-success" (click)="openModalWithComponent()">Create new project</button></div>
    <div class="row mt-5">Filters</div>
    <div class="row mt-5">
        <table class="table table-sm table-hover table-bordered">
            <thead class="text-center">
                <tr>
                    <th scope="col" style="width: 5%;">Id</th>
                    <th scope="col" style="width: 25%;">Name</th>
                    <th scope="col" style="width: 50%;">Description</th>
                    <th scope="col" style="width: 10%;">Created</th>
                    <th scope="col" style="width: 10%;">Author</th>
                </tr>
            </thead>
            <tbody class="text-center">
                <tr *ngFor="let project of projects" [routerLink]="['/projects/', project.id]">
                        <th scope="row">{{project.id}}</th>
                        <td>{{project.title}}</td>
                        <td>{{project.description}}</td>
                        <td>{{project.dateCreated | date: 'dd.MM.yyyy'}}</td>
                        <td>{{project.user.username}}</td>
                </tr>
            </tbody>
        </table>
    </div>