<div class="container">
    <div class="row mt-5">Filters</div>
    <div class="row mt-5">
        <table class="table table-sm table-hover">
            <thead class="text-center">
                <tr>
                    <th scope="col" >Id</th>
                    <th scope="col" >Type</th>
                    <th scope="col">Priority</th>
                    <th scope="col" >Name</th>
                    <th scope="col" >Created</th>
                    <th scope="col" >Author</th>
                    <th scope="col" >Project</th>
                    <th scope="col" >Status</th>

                </tr>
            </thead>
            <tbody class="text-center">
                <tr *ngFor="let ticket of tickets" [routerLink]="['/tickets/', ticket.id]">
                        <th scope="row">{{ticket.id}}</th>
                        <td>{{ticket.typeOfTicket}}</td>
                        <td>{{ticket.priority}}</td>
                        <td>{{ticket.title}}</td>
                        <td>{{ticket.dateCreated | date: 'dd.MM.yyyy'}}</td>
                        <td>{{ticket.userFrom?.username}}</td>
                        <td>{{ticket.project?.title}}</td>
                        <td>{{ticket.status}}</td>
                </tr>
            </tbody>
        </table>
    </div>